<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :service_login_id, "Login Service" %><br />
    <%= collection_select :service_id, :id, Service.all, :id, :name %>
  </p>
  <p>
    <%= label_tag :login, "login identifier" %><br />
    <%= text_field_tag :service_user_id, params[:login] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p><%= submit_tag "Log in" %></p>
<% end %>
