<div class="large-9 push-3 columns">
      
      <h3>Network commenters</h3>
      <a href="#" class="medium secondary button">All (<%= @registered_users.size + @anon_users.size %>)</a><a href="#" class="medium secondary button">Moderators (<%= User.moderators.size%>)</a><a href="#" class="medium secondary button">Need Moderation (<%=User.needs_attention.size%>)</a><a href="#" class="medium secondary button">Banned (<%=@registered_users.banned.size + @anon_users.banned.size %>)</a>
 <div class="row results">
  <div class="large-12 columns ">
    <div class="row">
      <div class="large-9 columns">
        <p> Search Results for Banned Users</p>
      </div>
      <div class=" large-3 columns ">
        <select name="sortOptions">
          <option value="sortby">Sort By</option>
          <option value="cats">My site</option>
          <option value="title">All sites</option>
          <option value="author">Alphabetical</option>
          <option value="mrecats">Date (most recent)</option>
        </select>
	
      </div>
    </div>
       <hr>
    <div class="search-results"><br>
      <% @registered_users.each do |user| %>
      <div class="row ">
        <div class="large-2 columns">
          <a href="#"> <span> </span><img src="img/troll1.jpg" class=" thumbnail"></a>
        </div>
        <div class="large-10 columns">
          <div class="row">
            <div class=" large-6 columns">
              <h5><%= user.display_name%></h5>
              <% user.accounts.each do |account| %>
                <p><%= "#{account.service_user_identifier} | #{account.service.name}" %></p>
              <%end%>
            </div>
            <div class=" large-3 columns">
                Tokens<br />
              <% user.user_tokens.each do |token| %>
                <%= token.token[0..5] %><br />
              <%end%>
            </div>
            <div class=" large-3 columns">
              <a href="#"  class="button  expand medium"><span>Score: <%= user.get_cred %></span> </a>
            </div>
            <div class="row">
	      
              <div class=" large-12 columns">
                <ul class="button-group">
                <li><a href="#" class="small alert button"><%= user.banned ? "Un-Ban" : "Ban" %></a></li>
                <li><a href="#" class="small button">Always moderate</a></li>
                <li><a href="#" class="small success button">Increase score</a></li>
                <li><a href="#" class="small secondary button">More info</a></li>
                <li><a href="#" class="small secondary button">Add note</a></li>
            </ul>

                
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <% end %>

    </div>
    <a href="#" class="button right"> show more results &raquo;</a>
  </div>
</div>             
    </div>
